In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('pivoted.csv')
british = pd.read_csv('british.csv').dropna()
continent = pd.read_csv('continent.csv')
education = pd.read_csv('education.csv')

In [3]:
education = education.replace('..',np.nan)
education.head()

,Time,Time Code,Country Name,Country Code,"Account ownership at a financial institution or with a mobile-money-service provider, primary education or less (% of population ages 15+) [FX.OWN.TOTL.PL.ZS]","Account ownership at a financial institution or with a mobile-money-service provider, secondary education or more (% of population ages 15+) [FX.OWN.TOTL.SO.ZS]",Adjusted savings: education expenditure (% of GNI) [NY.ADJ.AEDU.GN.ZS],Adjusted savings: education expenditure (current US$) [NY.ADJ.AEDU.CD],"All education staff compensation, primary (% of total expenditure in primary public institutions) [SE.XPD.MPRM.ZS]","All education staff compensation, secondary (% of total expenditure in secondary public institutions) [SE.XPD.MSEC.ZS]",...,"Trained teachers in upper secondary education, male (% of male teachers) [SE.SEC.TCAQ.UP.MA.ZS]",Unemployment with advanced education (% of total labor force with advanced education) [SL.UEM.ADVN.ZS],"Unemployment with advanced education, female (% of female labor force with advanced education) [SL.UEM.ADVN.FE.ZS]","Unemployment with advanced education, male (% of male labor force with advanced education) [SL.UEM.ADVN.MA.ZS]",Unemployment with basic education (% of total labor force with basic education) [SL.UEM.BASC.ZS],"Unemployment with basic education, female (% of female labor force with basic education) [SL.UEM.BASC.FE.ZS]","Unemployment with basic education, male (% of male labor force with basic education) [SL.UEM.BASC.MA.ZS]",Unemployment with intermediate education (% of total labor force with intermediate education) [SL.UEM.INTM.ZS],"Unemployment with intermediate education, female (% of female labor force with intermediate education) [SL.UEM.INTM.FE.ZS]","Unemployment with intermediate education, male (% of male labor force with intermediate education) [SL.UEM.INTM.MA.ZS]"
0,1993,YR1993,Afghanistan,AFG,NaN,NaN,2.0778859838404,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993,YR1993,Albania,ALB,NaN,NaN,2.8,34049997.296,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993,YR1993,Algeria,DZA,NaN,NaN,5.8,2795394524.966,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993,YR1993,American Samoa,ASM,NaN,NaN,11.760709,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993,YR1993,Andorra,AND,NaN,NaN,3.3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df = pd.merge(df, education, on=['Time Code','Country Code'])

In [5]:
df = df.replace('NaN',np.nan)
df.head()

,Time_x,Time Code,Country Name_x,Country Code,"Population, total [SP.POP.TOTL]",Population growth (annual %) [SP.POP.GROW],Surface area (sq. km) [AG.SRF.TOTL.K2],Poverty headcount ratio at national poverty lines (% of population) [SI.POV.NAHC],"GNI, Atlas method (current US$) [NY.GNP.ATLS.CD]","GNI per capita, Atlas method (current US$) [NY.GNP.PCAP.CD]",...,"Trained teachers in upper secondary education, male (% of male teachers) [SE.SEC.TCAQ.UP.MA.ZS]",Unemployment with advanced education (% of total labor force with advanced education) [SL.UEM.ADVN.ZS],"Unemployment with advanced education, female (% of female labor force with advanced education) [SL.UEM.ADVN.FE.ZS]","Unemployment with advanced education, male (% of male labor force with advanced education) [SL.UEM.ADVN.MA.ZS]",Unemployment with basic education (% of total labor force with basic education) [SL.UEM.BASC.ZS],"Unemployment with basic education, female (% of female labor force with basic education) [SL.UEM.BASC.FE.ZS]","Unemployment with basic education, male (% of male labor force with basic education) [SL.UEM.BASC.MA.ZS]",Unemployment with intermediate education (% of total labor force with intermediate education) [SL.UEM.INTM.ZS],"Unemployment with intermediate education, female (% of female labor force with intermediate education) [SL.UEM.INTM.FE.ZS]","Unemployment with intermediate education, male (% of male labor force with intermediate education) [SL.UEM.INTM.MA.ZS]"
0,2000,YR2000,Afghanistan,AFG,20093756.0,3.494659,652860.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,YR2000,Albania,ALB,3089027.0,-0.637357,28750.0,NaN,3.599111e+09,1170.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,YR2000,Algeria,DZA,31183660.0,1.349663,2381740.0,NaN,4.949310e+10,1590.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,YR2000,American Samoa,ASM,57521.0,1.314208,200.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,YR2000,Andorra,AND,65390.0,1.572166,470.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
from collections import OrderedDict
dd = OrderedDict(sorted(dict(df.isnull().sum()).items(), key=lambda x: x[1]))
print(dd)

OrderedDict([('Time_x', 15), ('Time_y', 15), ('Time Code', 25), ('Country Name_x', 25), ('Country Code', 25), ('Country Name_y', 25), ('Population, total [SP.POP.TOTL]', 31), ('Population growth (annual %) [SP.POP.GROW]', 32), ('Surface area (sq. km) [AG.SRF.TOTL.K2]', 36), ('Primary education, duration (years) [SE.PRM.DURS]', 189), ('Secondary education, duration (years) [SE.SEC.DURS]', 247), ('GDP (current US$) [NY.GDP.MKTP.CD]', 309), ('GDP per capita (current US$) [NY.GDP.PCAP.CD]', 309), ('GDP growth (annual %) [NY.GDP.MKTP.KD.ZG]', 365), ('Inflation, GDP deflator (annual %) [NY.GDP.DEFL.KD.ZG]', 366), ('Foreign direct investment, net inflows (BoP, current US$) [BX.KLT.DINV.CD.WD]', 428), ('Preprimary education, duration (years) [SE.PRE.DURS]', 428), ('Mobile cellular subscriptions (per 100 people) [IT.CEL.SETS.P2]', 456), ('Net barter terms of trade index (2000 = 100) [TT.PRI.MRCH.XD.WD]', 510), ('GNI, Atlas method (current US$) [NY.GNP.ATLS.CD]', 514), ('GNI per capita, Atlas method (current US$) [NY.GNP.PCAP.CD]', 514), ('Fertility rate, total (births per woman) [SP.DYN.TFRT.IN]', 514), ('Merchandise trade (% of GDP) [TG.VAL.TOTL.GD.ZS]', 518), ('Life expectancy at birth, total (years) [SP.DYN.LE00.IN]', 532), ('Forest area (sq. km) [AG.LND.FRST.K2]', 566), ('GNI, PPP (current international $) [NY.GNP.MKTP.PP.CD]', 570), ('GNI per capita, PPP (current international $) [NY.GNP.PCAP.PP.CD]', 570), ('Exports of goods and services (% of GDP) [NE.EXP.GNFS.ZS]', 599), ('Imports of goods and services (% of GDP) [NE.IMP.GNFS.ZS]', 599), ('Adjusted savings: education expenditure (% of GNI) [NY.ADJ.AEDU.GN.ZS]', 599), ('Industry (including construction), value added (% of GDP) [NV.IND.TOTL.ZS]', 610), ('Agriculture, forestry, and fishing, value added (% of GDP) [NV.AGR.TOTL.ZS]', 629), ('Adolescent fertility rate (births per 1,000 women ages 15-19) [SP.ADO.TFRT]', 633), ('Mortality rate, under-5 (per 1,000 live births) [SH.DYN.MORT]', 650), ('Immunization, measles (% of children ages 12-23 months) [SH.IMM.MEAS]', 686), ('Oil rents (% of GDP) [NY.GDP.PETR.RT.ZS]', 696), ('Compulsory education, duration (years) [SE.COM.DURS]', 816), ('Adjusted savings: education expenditure (current US$) [NY.ADJ.AEDU.CD]', 825), ('Gross capital formation (% of GDP) [NE.GDI.TOTL.ZS]', 864), ('Foreign direct investment, net (BoP, current US$) [BN.KLT.DINV.CD]', 895), ('CO2 emissions (metric tons per capita) [EN.ATM.CO2E.PC]', 901), ('Inflation, consumer prices (annual %) [FP.CPI.TOTL.ZG]', 912), ('Personal remittances, paid (current US$) [BM.TRF.PWKR.CD.DT]', 977), ('Primary education, pupils [SE.PRM.ENRL]', 1028), ('Primary education, pupils (% female) [SE.PRM.ENRL.FE.ZS]', 1049), ('Military expenditure (% of GDP) [MS.MIL.XPND.GD.ZS]', 1205), ('Secondary education, general pupils [SE.SEC.ENRL.GC]', 1214), ('Secondary education, general pupils (% female) [SE.SEC.ENRL.GC.FE.ZS]', 1242), ('Start-up procedures to register a business (number) [IC.REG.PROC]', 1353), ('High-technology exports (% of manufactured exports) [TX.VAL.TECH.MF.ZS]', 1379), ('Secondary education, pupils [SE.SEC.ENRL]', 1428), ('Secondary education, pupils (% female) [SE.SEC.ENRL.FE.ZS]', 1478), ('Net ODA received per capita (current US$) [DT.ODA.ODAT.PC.ZS]', 1509), ('Gross intake ratio in first grade of primary education, total (% of relevant age group) [SE.PRM.GINT.ZS]', 1518), ('School enrollment, secondary (% gross) [SE.SEC.ENRR]', 1526), ('Primary education, teachers [SE.PRM.TCHR]', 1542), ('Gross intake ratio in first grade of primary education, female (% of relevant age group) [SE.PRM.GINT.FE.ZS]', 1580), ('Gross intake ratio in first grade of primary education, male (% of relevant age group) [SE.PRM.GINT.MA.ZS]', 1580), ('Primary education, teachers (% female) [SE.PRM.TCHR.FE.ZS]', 1642), ('School enrollment, primary and secondary (gross), gender parity index (GPI) [SE.ENR.PRSC.FM.ZS]', 1651), ('Energy use (kg of oil equivalent per capita) [EG.USE.PCAP.KG.OE]', 1673), ('Prevalence of HIV, total (% of population ages 15-49) [SH.DYN.AIDS.ZS]', 1697), ('Primary completion rate, total (% of relevant age group) [SE.PRM.CMPT.ZS]', 1782), ('Secondary education, vocational pupils [SE.SEC.ENRL.VO]', 1789), ('Revenue, excluding grants (% of GDP) [GC.REV.XGRT.GD.ZS]', 1794), ('Electric power consumption (kWh per capita) [EG.USE.ELEC.KH.PC]', 1821), ('External debt stocks, total (DOD, current US$) [DT.DOD.DECT.CD]', 1840), ('Total debt service (% of GNI) [DT.TDS.DECT.GN.ZS]', 1890), ('Secondary education, vocational pupils (% female) [SE.SEC.ENRL.VO.FE.ZS]', 1898), ('Government expenditure on education, total (% of GDP) [SE.XPD.TOTL.GD.ZS]', 2071), ('Secondary education, teachers [SE.SEC.TCHR]', 2099), ('Government expenditure on education, total (% of government expenditure) [SE.XPD.TOTL.GB.ZS]', 2135), ('Secondary education, teachers, female [SE.SEC.TCHR.FE]', 2199), ('Secondary education, teachers (% female) [SE.SEC.TCHR.FE.ZS]', 2200), ('Births attended by skilled health staff (% of total) [SH.STA.BRTC.ZS]', 2348), ('Expenditure on tertiary education (% of government expenditure on education) [SE.XPD.TERT.ZS]', 2441), ('Tertiary education, academic staff (% female) [SE.TER.TCHR.FE.ZS]', 2456), ('Expenditure on primary education (% of government expenditure on education) [SE.XPD.PRIM.ZS]', 2548), ('Expenditure on secondary education (% of government expenditure on education) [SE.XPD.SECO.ZS]', 2558), ('Market capitalization of listed domestic companies (% of GDP) [CM.MKT.LCAP.GD.ZS]', 2701), ('Current education expenditure, secondary (% of total expenditure in secondary public institutions) [SE.XPD.CSEC.ZS]', 2747), ('Current education expenditure, total (% of total expenditure in public institutions) [SE.XPD.CTOT.ZS]', 2753), ('Current education expenditure, primary (% of total expenditure in primary public institutions) [SE.XPD.CPRM.ZS]', 2761), ('Unemployment with advanced education, male (% of male labor force with advanced education) [SL.UEM.ADVN.MA.ZS]', 2771), ('Unemployment with basic education, male (% of male labor force with basic education) [SL.UEM.BASC.MA.ZS]', 2778), ('Unemployment with advanced education, female (% of female labor force with advanced education) [SL.UEM.ADVN.FE.ZS]', 2782), ('Unemployment with advanced education (% of total labor force with advanced education) [SL.UEM.ADVN.ZS]', 2784), ('Unemployment with basic education, female (% of female labor force with basic education) [SL.UEM.BASC.FE.ZS]', 2784), ('Unemployment with basic education (% of total labor force with basic education) [SL.UEM.BASC.ZS]', 2785), ('Unemployment with intermediate education, male (% of male labor force with intermediate education) [SL.UEM.INTM.MA.ZS]', 2793), ('Unemployment with intermediate education (% of total labor force with intermediate education) [SL.UEM.INTM.ZS]', 2799), ('Unemployment with intermediate education, female (% of female labor force with intermediate education) [SL.UEM.INTM.FE.ZS]', 2799), ('All education staff compensation, secondary (% of total expenditure in secondary public institutions) [SE.XPD.MSEC.ZS]', 2815), ('Trained teachers in primary education (% of total teachers) [SE.PRM.TCAQ.ZS]', 2828), ('All education staff compensation, primary (% of total expenditure in primary public institutions) [SE.XPD.MPRM.ZS]', 2833), ('Current education expenditure, tertiary (% of total expenditure in tertiary public institutions) [SE.XPD.CTER.ZS]', 2835), ('All education staff compensation, total (% of total expenditure in public institutions) [SE.XPD.MTOT.ZS]', 2849), ('Income share held by lowest 20% [SI.DST.FRST.20]', 2865), ('Labor force with advanced education (% of total working-age population with advanced education) [SL.TLF.ADVN.ZS]', 2939), ('Labor force with advanced education, female (% of female working-age population with advanced education) [SL.TLF.ADVN.FE.ZS]', 2939), ('Labor force with advanced education, male (% of male working-age population with advanced education) [SL.TLF.ADVN.MA.ZS]', 2939), ('Labor force with basic education (% of total working-age population with basic education) [SL.TLF.BASC.ZS]', 2939), ('Labor force with basic education, female (% of female working-age population with basic education) [SL.TLF.BASC.FE.ZS]', 2939), ('Labor force with basic education, male (% of male working-age population with basic education) [SL.TLF.BASC.MA.ZS]', 2939), ('Labor force with intermediate education (% of total working-age population with intermediate education) [SL.TLF.INTM.ZS]', 2940), ('Labor force with intermediate education, female (% of female working-age population with intermediate education) [SL.TLF.INTM.FE.ZS]', 2940), ('Labor force with intermediate education, male (% of male working-age population with intermediate education) [SL.TLF.INTM.MA.ZS]', 2940), ('Trained teachers in primary education, female (% of female teachers) [SE.PRM.TCAQ.FE.ZS]', 2942), ('Trained teachers in primary education, male (% of male teachers) [SE.PRM.TCAQ.MA.ZS]', 2942), ('All education staff compensation, tertiary (% of total expenditure in tertiary public institutions) [SE.XPD.MTER.ZS]', 2985), ('Share of youth not in education, employment or training, total (% of youth population) [SL.UEM.NEET.ZS]', 2985), ('Share of youth not in education, employment or training, male (% of male youth population) [SL.UEM.NEET.MA.ZS]', 3005), ('Share of youth not in education, employment or training, female (% of female youth population) [SL.UEM.NEET.FE.ZS]', 3008), ('Net migration [SM.POP.NETM]', 3155), ('Trained teachers in preprimary education (% of total teachers) [SE.PRE.TCAQ.ZS]', 3173), ('Poverty headcount ratio at national poverty lines (% of population) [SI.POV.NAHC]', 3192), ('Educational attainment, at least completed upper secondary, population 25+, female (%) (cumulative) [SE.SEC.CUAT.UP.FE.ZS]', 3198), ('Educational attainment, at least completed upper secondary, population 25+, male (%) (cumulative) [SE.SEC.CUAT.UP.MA.ZS]', 3198), ('Educational attainment, at least completed upper secondary, population 25+, total (%) (cumulative) [SE.SEC.CUAT.UP.ZS]', 3198), ('Educational attainment, at least completed short-cycle tertiary, population 25+, female (%) (cumulative) [SE.TER.CUAT.ST.FE.ZS]', 3213), ('Educational attainment, at least completed short-cycle tertiary, population 25+, male (%) (cumulative) [SE.TER.CUAT.ST.MA.ZS]', 3213), ('Educational attainment, at least completed short-cycle tertiary, population 25+, total (%) (cumulative) [SE.TER.CUAT.ST.ZS]', 3213), ('Educational attainment, at least completed lower secondary, population 25+, female (%) (cumulative) [SE.SEC.CUAT.LO.FE.ZS]', 3229), ('Educational attainment, at least completed lower secondary, population 25+, male (%) (cumulative) [SE.SEC.CUAT.LO.MA.ZS]', 3229), ('Educational attainment, at least completed lower secondary, population 25+, total (%) (cumulative) [SE.SEC.CUAT.LO.ZS]', 3229), ('Trained teachers in preprimary education, female (% of female teachers) [SE.PRE.TCAQ.FE.ZS]', 3229), ('Contraceptive prevalence, any methods (% of women ages 15-49) [SP.DYN.CONU.ZS]', 3256), ('Trained teachers in secondary education (% of total teachers) [SE.SEC.TCAQ.ZS]', 3273), ('Educational attainment, at least completed primary, population 25+ years, female (%) (cumulative) [SE.PRM.CUAT.FE.ZS]', 3297), ('Educational attainment, at least completed primary, population 25+ years, male (%) (cumulative) [SE.PRM.CUAT.MA.ZS]', 3297), ('Educational attainment, at least completed primary, population 25+ years, total (%) (cumulative) [SE.PRM.CUAT.ZS]', 3297), ('Trained teachers in secondary education, female (% of female teachers) [SE.SEC.TCAQ.FE.ZS]', 3352), ('Trained teachers in secondary education, male (% of male teachers) [SE.SEC.TCAQ.MA.ZS]', 3352), ('Trained teachers in preprimary education, male (% of male teachers) [SE.PRE.TCAQ.MA.ZS]', 3381), ('Trained teachers in lower secondary education (% of total teachers) [SE.SEC.TCAQ.LO.ZS]', 3391), ('Prevalence of underweight, weight for age (% of children under 5) [SH.STA.MALN.ZS]', 3407), ('Educational attainment, at least completed post-secondary, population 25+, female (%) (cumulative) [SE.SEC.CUAT.PO.FE.ZS]', 3422), ('Educational attainment, at least completed post-secondary, population 25+, male (%) (cumulative) [SE.SEC.CUAT.PO.MA.ZS]', 3422), ('Educational attainment, at least completed post-secondary, population 25+, total (%) (cumulative) [SE.SEC.CUAT.PO.ZS]', 3422), ('Trained teachers in lower secondary education, female (% of female teachers) [SE.SEC.TCAQ.LO.FE.ZS]', 3427), ('Trained teachers in lower secondary education, male (% of male teachers) [SE.SEC.TCAQ.LO.MA.ZS]', 3427), ('Trained teachers in upper secondary education (% of total teachers) [SE.SEC.TCAQ.UP.ZS]', 3466), ('Account ownership at a financial institution or with a mobile-money-service provider, primary education or less (% of population ages 15+) [FX.OWN.TOTL.PL.ZS]', 3505), ('Account ownership at a financial institution or with a mobile-money-service provider, secondary education or more (% of population ages 15+) [FX.OWN.TOTL.SO.ZS]', 3505), ('Trained teachers in upper secondary education, female (% of female teachers) [SE.SEC.TCAQ.UP.FE.ZS]', 3505), ('Trained teachers in upper secondary education, male (% of male teachers) [SE.SEC.TCAQ.UP.MA.ZS]', 3505), ('Water productivity, total (constant 2010 US$ GDP per cubic meter of total freshwater withdrawal) [ER.GDP.FWTL.M3.KD]', 3591), ("Educational attainment, at least Bachelor's or equivalent, population 25+, female (%) (cumulative) [SE.TER.CUAT.BA.FE.ZS]", 3741), ("Educational attainment, at least Bachelor's or equivalent, population 25+, male (%) (cumulative) [SE.TER.CUAT.BA.MA.ZS]", 3741), ("Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative) [SE.TER.CUAT.BA.ZS]", 3741), ("Educational attainment, at least Master's or equivalent, population 25+, female (%) (cumulative) [SE.TER.CUAT.MS.FE.ZS]", 3767), ("Educational attainment, at least Master's or equivalent, population 25+, male (%) (cumulative) [SE.TER.CUAT.MS.MA.ZS]", 3767), ("Educational attainment, at least Master's or equivalent, population 25+, total (%) (cumulative) [SE.TER.CUAT.MS.ZS]", 3767), ('Educational attainment, Doctoral or equivalent, population 25+, female (%) (cumulative) [SE.TER.CUAT.DO.FE.ZS]', 3789), ('Educational attainment, Doctoral or equivalent, population 25+, male (%) (cumulative) [SE.TER.CUAT.DO.MA.ZS]', 3789), ('Educational attainment, Doctoral or equivalent, population 25+, total (%) (cumulative) [SE.TER.CUAT.DO.ZS]', 3789)])

In [7]:
d = dict(df.isnull().sum())
targets = [*{key: d[key] for key in d if d[key] < 700}]

In [8]:
len(targets)

36

In [9]:
filtered = df[targets].dropna()

In [10]:
filtered.shape

(2533, 36)

In [ ]:
dd = OrderedDict(sorted(dict(education.isnull().sum()).items(), key=lambda x: x[1]))
print(dd)

In [ ]:
british.head()

In [ ]:
continent.head()

In [ ]:
set(british['Current country'])

In [ ]:
crown = df[df['Country Name'].isin(british['Current country'])]

In [ ]:
continent.head()

In [ ]:
filtered.head()

In [ ]:
filtered.dropna()['Country Code'].value_counts()

In [ ]:
y = filtered['GDP (current US$) [NY.GDP.MKTP.CD]']
X = filtered.drop(['GDP (current US$) [NY.GDP.MKTP.CD]','Time','Time Code','Country Name','Country Code','GNI, Atlas method (current US$) [NY.GNP.ATLS.CD]','GNI, PPP (current international $) [NY.GNP.MKTP.PP.CD]'], 1)
rf = RandomForestRegressor()
rf.fit(X, y)
names = X.dtypes.index
print("Features sorted by their score:")
print(sorted(zip(map(lambda x: round(x, 4), rf.feature_importances_), names), reverse=True))

In [ ]:
filtered[filtered['Country Code'] == 'CAN']

In [ ]:
min(filtered['GDP (current US$) [NY.GDP.MKTP.CD]'])

In [ ]:
[*filtered.columns]

In [ ]:
y = filtered['GDP per capita (current US$) [NY.GDP.PCAP.CD]']
X = filtered.drop(['GDP per capita (current US$) [NY.GDP.PCAP.CD]','GDP (current US$) [NY.GDP.MKTP.CD]','Time','Time Code','Country Name','Country Code','GNI, Atlas method (current US$) [NY.GNP.ATLS.CD]','GNI, PPP (current international $) [NY.GNP.MKTP.PP.CD]','GNI per capita, Atlas method (current US$) [NY.GNP.PCAP.CD]','GNI per capita, PPP (current international $) [NY.GNP.PCAP.PP.CD]'], 1)
rf = RandomForestRegressor()
rf.fit(X, y)
names = X.dtypes.index
print("Features sorted by their score:")
print(sorted(zip(map(lambda x: round(x, 4), rf.feature_importances_), names), reverse=True))

In [ ]:
def regression(y, X):
    import statsmodels.api as sm
    import matplotlib.pyplot as plt
    from sklearn.metrics import mean_squared_error
    X = X
    y = y
    model = sm.OLS(y, X)
    model = model.fit()
    predictions = model.predict(X)

    # Plot the model
    plt.figure(figsize=(8,6))
    plt.scatter(predictions, y, s=30, c='r', marker='+', zorder=10)
    plt.xlabel("Predicted Values - $\hat{y}$")
    plt.ylabel("Actual Values - $y$")
    plt.show()
    print("MSE:", mean_squared_error(y, predictions))
    return model.summary()

In [ ]:
regression(y,X)

In [ ]:
x = filtered['Exports of goods and services (% of GDP) [NE.EXP.GNFS.ZS]']
plt.scatter(x, y, alpha=0.5)
plt.show()